<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>To-Do List</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet" />
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">
                <i class="fas fa-list-alt"></i>
                To-Do List
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Things
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">API</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                          <a class="dropdown-item" href="/swagger/index.html">Docs</a>
                          <a class="dropdown-item" href="/swagger.json">Spec</a>
                        </div>
                      </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="container" id="myApp">
            <h2>Things</h2>
            <p class="lead">Keep track of everything you need to do right here.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5rem;">ID</th>
                        <th scope="col">Description</th>
                        <th scope="col" class="text-center" style="width: 8rem;">Completed</th>
                        <th scope="col" style="width: 5rem;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in orderedItems">
                        <td>{{ item.id }}</td>
                        <td>{{ item.description }}</td>
                        <td class="text-center text-primary" >
                            <i class="far" :class="{ 'fa-check-circle': item.completed, 'fa-circle': !item.completed }"></i>
                        </td>
                        <td class="text-right"><button class="btn btn-outline-danger btn-xs btn-no-border" @click="deleteItem(item.id)" ><i class="fas fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-outline-success" @click="showAddItemModal"><i class="fas fa-plus"></i> Add</button>
            <button class="btn btn-outline-primary" @click="refreshItems"><i class="fas fa-sync-alt"></i> Refresh</button>

            <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form @submit.prevent="submitForm">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="itemDescription">Description</label>
                                    <input type="text" class="form-control" id="itemDescription" placeholder="Enter description" required v-model="newItem.description" />
                                </div>
                                <div class="form-group custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="itemCompleted" v-model="newItem.completed" />
                                    <label class="custom-control-label" for="itemCompleted">Completed?</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main><!-- /.container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="https://use.fontawesome.com/releases/v5.0.7/js/regular.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/solid.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/fontawesome.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js" integrity="sha256-YFhaeQSVBgAFNN5z4I9YRB2jCuqc2nvypz0Q2eQzcx8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>
